@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex flex-row justify-center px-4 py-2 border border-transparent text-base font-medium text-white focus:ring-2 focus:ring-taubmanspurple-100 bg-taubmanspurple-600 hover:bg-taubmanspurple-700 focus:outline-none ;
  }

  .input {
    @apply border-2 border-sepia-800 bg-sentrysilver-300 focus:border-sepia-800 focus:ring-0;
  }
}

/**
 CSS Loader for login
*/
.loader {
  --size: 24px;
  --stroke-width: calc(var(--size) / 2);
  --color: currentColor;
  --animation-timing-function: linear;
  --animation-duration: 1s;
  width: var(--size);
  height: var(--size);
  border-width: var(--stroke-width);
  border-style: solid;
  border-color: var(--color) transparent var(--color) transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    loader-animation;
}

@keyframes loader-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
